<div class="container-fluid border border-dark">
    <div class="row ">
        <div class="ml-5">
            <a class="navbar-brand" href="#">
                <img src="assets/Icons/WCD.png" height="140" width="280">
            </a>
        </div>
        <div class="col-md-9 row justify-content-center align-self-center">
            <h2>Ministry of Women & Child Development</h2>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Legislations & Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">STEP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">NGO's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
<app-about-us></app-about-us>